<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div class="header">
        <h1>IsDB-BISEW</h1>
        <p>IT Scholarship Programme</p>
    </div>

    <div class="topnav">
        <a href="assets/home.html">Home</a>
        <a href="assets/about.html">About us</a>
        <a href="assets/contact.html">contact us</a>
    </div>

    <div class="row">
        <div class="rightcolumn">
            <div class="card">
               
                <p>Some text..</p>
                <p>The objective of the programme is to enhance the employment prospects of Muslim youths (who come from
                    financially disadvantaged background) from different non-IT backgrounds like Science, Humanities,
                    Business and Madrasah. The programme imparts one-year long high quality and professional level IT
                    training of global standard to ensure gainful employment.
                    The IsDB-BISEW IT Scholarship Programme has commenced in 2003. The programme has establisheditself
                    as a reliable source of IT professionals for recruiters in the country.</p>
                <p>The purpose of the project is to provide scholarship to underprivileged but meritorious Muslim Youths
                    to undergo extensive training for development of employable skills in the field of Information and
                    Communication Technology (ICT). These unemployed graduates possess enormous potential which could
                    not yet be properly exploited due to lack of finance. Each year around 1,200 young graduates from
                    widely varying academic backgrounds are awarded scholarship by IsDB-BISEW in Bangladesh. A joint
                    initiative of the Govt. of Bangladesh and IDB, Jeddah, Saudi Arabia, the scholarship programme
                    enables the participants to undergo a year-long training leading to a professional level diploma in  an IT discipline. These diploma holders then go on to secure excellent jobs and rewarding careers in organizations both within and outside Bangladesh</p>
                    <p>The IsDB-BISEW IT Scholarship Programme is an educational and training network composed of approximately twenty-five IT training institutions, a full-scale R & D cell dedicated for developing training-resources and curriculum and an administrative body headed by the management office of IsDB-BISEW. Full-time and intensive training programmes training from 10 to 14 months in duration equip the trainees with cutting edge IT skills, which in the vast majority of cases lead to rewarding careers in various organizations at home and abroad.</p>
            </div>
        </div>
        <div class="leftcolumn">
            <div class="leftnav">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Registration</a></li>
                    <li><a href="#">Requirement</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="footer">
        <h2>Copyright by isdb student</h2>
    </div>
</body>
</html>