<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <h1>IsDB-BISEW</h1>
        <p>IT Scholarship Programme</p>
    </div>

    <div class="topnav">
        <a href="home.html">Home</a>
        <a href="about.html">About us</a>
        <a href="contact.html">contact us</a>
    </div>

    <div class="row">
        <div class="rightcolumn">
           <div>
           
        IDB Bhaban (4th Floor)
        E/8-A, Rokeya Sharani, Sher-e-Bangla Nagar. Dhaka-1207, Bangladesh
        Phone: +880 2 9183006
        Email: idbb@isdb-bisew.org
        Fax: +880 2 9183001 - 2
            </div>
        </div>
        <div class="leftcolumn">
            <div class="leftnav">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Registration</a></li>
                    <li><a href="#">Requirement</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="footer">
        <h2>Copyright by isdb student</h2>
    </div>
</body>
</html>
