<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <h1>IsDB-BISEW</h1>
        <p>IT Scholarship Programme</p>
    </div>

    <div class="topnav">
        <a href="home.html">Home</a>
        <a href="about.html">About us</a>
        <a href="contact.html">contact us</a>
    </div>

    <div class="row">
        <div class="rightcolumn">
           <div>
            <h3> Welcome to IsDB-BISEW</h3>
            The Islamic Development Bank-Bangladesh Islamic Solidarity Educational Wakf (IsDB-BISEW) was established in 1987 following an agreement between the Islamic Development Bank and the Government of Bangladesh. IsDB-BISEW undertakes funding, formulating and implementing of programmes in the areas of education, developing human resources and strengthening educational institutions.
            
            By focusing on workforce development through technical training and skilling in all its programmes and projects undertaken from 2003, it radically impacted the lives of about 50,000 underprivileged Muslim youths till now.
                </p>
            </div>
        </div>
        <div class="leftcolumn">
            <div class="leftnav">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Registration</a></li>
                    <li><a href="#">Requirement</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="footer">
        <h2>Copyright by isdb student</h2>
    </div>
</body>
</html>